@model IEnumerable<Inlamningsuppgift2_Webbsakerhet_DanArv.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var comment in Model)
{
<div class="comment">
    <p class="commentHeader"><b>Comment:</b></p>
    <div class="content">@Html.Raw(comment.Content)</div>
    <div class="timeStamp">
        <p><b>Created:</b></p>
        @comment.TimeStamp |
        <div class="editButton">
            <a asp-action="Edit" asp-route-id="@comment.Id">Edit</a>
        </div>
    </div>
</div>
}
